.width-33 {
	width: 50%;
}

.left_panels_form, .panel {
	border-radius: 8px;
}

.left_panels_form {
	padding: 10px;
}

.m-def .panel.panel-default {
	border-bottom-left-radius: 8px !important;
	padding: 10px;
	box-shadow: none;
	border-radius: 8px;
}

.panel-heading {
	box-shadow: none;
}

.panel-heading ul li a {
	padding: 15px;
}

div#coinsDash {
	width: 100%;
}

#scorebox {
	height: 66px;
}

#high div {
	box-shadow: none;
}

hr {
	margin-bottom: 7px;
}

.dash-tab {
	padding: 0 0 15px;
}

#loginTab, #reg {
	padding: 15px;
	width: 100%;
}

#scorebox {
	margin-right: 0:
	height:auto;
}
#statsContinue {
	position: unset;
}
